{
  "paypal": {
    "email": "PAYPAL EMAIL ADDRESS"
  },
  "dwolla": {
    "username": "DWOLLA USERNAME"
  },
  "moonclerk": {
    "url": "MOONCLERK APP URL"
  },
  "venmo": {
    "username": "VENMO USERNAME"
  },
  "patreon":{
    "user_id": "PATREON USER ID"
  }
}
